  <div class="row">
    <div class="col-md-6 col-xs-12 col-md-offset-3">
      <div class="panel">
        <div class="panel-heading">
          <!-- <span class="text-info">x tweets received</span> -->
          <h3 class="panel-title">Trending</h3>
        </div>
        <div class="panel-body">
          <div class="clearfix"></div>
          <hr class="margin-bottom-10">
          <ul class="list-group list-group-dividered list-group-full">
            <li class="list-group-item" *ngFor="let hashtag of sortedTrendingHashTags | keyvalue : disableSort; let i = index">
              <div class="media">
                <div class="media-body">
                  <div>{{i+1}}. <b>#{{hashtag.key}}</b></div>
                  <small class="text-muted pull-right">{{ hashtag.value }} tweets</small>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>